.Message {
    width: 80%;
    margin: 1rem auto;
  }
  .Message__input {
    width: 100%;
    padding: 1rem;
    background: linear-gradient(90deg, #ebebf5, #e7ebee);
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    outline: 0;
  }